body{
    background-image: url(../sewar/R.jpeg);
    background-position: center center;
    background-size: cover;
    color: rgb(176, 7, 7);

}


header{
    background-color: rgba(0, 0, 0, 0.746);
    border-radius: .0625rem;
    -webkit-border-radius: .0625rem;
    -moz-border-radius: .0625rem;
    -ms-border-radius: .0625rem;
    -o-border-radius: .0625rem;
    background-color: rgb(132, 5, 5);
    color: beige;
}

.my-card{

    /* background: rgba(0, 0, 0, 0.291); */
background: linear-gradient(0deg, rgba(0,0,0,0.16900165264423073) 0%, rgba(0,128,147,0.30562650240384615));
}
.bg-body-secondary{
    /* height: 60vh; */
}